ul.sortable {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 20em;
	font-size: 13px;
	font-family: Arial, sans-serif;
	background-color: #fff;
}

ul.sortable li {
	cursor:move;
	padding: 2px 2px;
	border: 1px solid black;
	background-color: #eee;
}

.handle {
	cursor: move;
	background-color: #0033FF;
    width: 50px;
	height: 15px;
	display: block;
	float: left;
	margin-right: 30px;
}

#notices {
	border: 1px dashed grey;
	color: red;
}
